.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 220px;
	margin: 20px;
}

.image {
	width: 220px;
	border-radius: 10px 10px 0px 0px;
	margin-top: 20px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	height: 230px;
	margin: 10px 0px 10px 00px;
}

.name {
	font-weight: 600;
}

.description {
	font-weight: 300;
	font-size: 14px;
}

.iconContainer {
	display: flex;
	flex-direction: column;
	font-size: 12px;
}